<ion-view title="creaTorneo">
    <ion-content padding="'true'" class="has-header">
        <form name="signinForm" novalidate="" ng-submit="addTorneo(signinForm)" class="list">
            <ion-list>
                
                <label class="item item-input" ng-class="{ 'has-error' : signinForm.tnombre.$invalid && signinForm.$submitted}">
                    <input type="text"
                        name="tnombre" 
                        ng-model="torneo.nombre" placeholder="Nombre" 
                        ng-minlength="3"                        
                        required>
                </label>                  
                </div>
                <div class="form-errors" 
                   ng-show="signinForm.tnombre.$error && signinForm.$submitted"
                   ng-messages="signinForm.tnombre.$error"
                   ng-messages-include="templates/form-errors.html">
              </div>
                
                
            </ion-list>
            <label class="item item-select" ng-class="{ 'has-error' : signinForm.nivel.$invalid && signinForm.$submitted}">
                <span class="input-label">Nivel</span>
                <select name="nivel" ng-model="torneo.nivel" required>
                    <option ng-repeat="nivel in niveles">{{nivel.valor}}</option>
                </select>
            </label>
          

            <label class="item item-select" ng-class="{ 'has-error' : signinForm.partidos.$invalid && signinForm.$submitted}">
                <span class="input-label">Partidos</span>
                <select name="partidos" ng-model="torneo.partidos" required>
                    <option ng-repeat="tipoPar in tipoPartidos">{{tipoPar.valor}}</option>
                </select>
            </label>
            
            <label class="item item-select" ng-class="{ 'has-error' : signinForm.tipo.$invalid && signinForm.$submitted}">
                <span class="input-label">Tipo Equipos</span>
                <select name="tipo" ng-model="torneo.tipo" required>
                    <option ng-repeat="tipoEqui in tipoEquipos">{{tipoEqui.valor}}</option>
                </select>
            </label>
            
            <a href="#/page23/page31" class="button  button-block button-small icon-left ion-ios-personadd">Jugadores</a>
            
            <ion-list>
                <ion-item ng-repeat="jugador in jugadores" ng-show="jugador.select" class="item-thumbnail-left">
                    <img>
                    <h2>{{jugador.nombre}}</h2>
                    <p>{{jugador.alias}}</p>
                </ion-item>
            </ion-list>
            <button class="button button-positive button-block "> Crear</button>            
        </form>
    </ion-content>
</ion-view>