<ion-view title="Crear Equipo">
    <ion-content padding="'true'" class="has-header">
        <form name="formEquipos" novalidate="" ng-submit="addEquipo(formEquipos)" class="list">
            <label class="item item-input" 
                ng-class="{ 'has-error' : formEquipos.nombre.$invalid && formEquipos.$submitted}">
                <input type="text" ng-model="equipo.nombre" 
                    placeholder="Ingrese nombre equipo"
                    name="nombre" required>
            </label>
            <label class="item item-select" ng-class="{ 'has-error' : formEquipos.nivel.$invalid && formEquipos.$submitted}">
                <span class="input-label">Nivel</span>
                <select ng-model="equipo.nivel" name="nivel" required>
                    <option ng-repeat="nivel in niveles">{{nivel.valor}}</option>
                </select>
            </label>
            <label class="item item-select" ng-class="{ 'has-error' : formEquipos.tipo.$invalid && formEquipos.$submitted}">
                <span class="input-label">Tipo</span>
                <select ng-model="equipo.tipo" name="tipo" required>
                    <option ng-repeat="tipo in tipos">{{tipo.valor}}</option>
                </select>
            </label>
            <button class="button button-positive button-block  icon-left ion-tshirt"> Crear</button>
        </form>        
        
        
    </ion-content>
</ion-view>