<ion-view title="Crear Jugador">
    <ion-content padding="'true'" class="has-header">
        <form name="formJugadores" novalidate="" ng-submit="addJugador(formJugadores)" class="list">
            <ion-list>
                <label class="item item-input" ng-class="{ 'has-error' : formJugadores.nombre.$invalid && formJugadores.$submitted}">
                    <input name="nombre" type="text" ng-model="jugador.nombre" placeholder="Nombre" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : formJugadores.alias.$invalid && formJugadores.$submitted}">
                    <input name="alias" type="text" ng-model="jugador.alias" placeholder="Alias" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>            
            <button class="button button-positive button-block  icon-left ion-ios-personadd"> Crear</button>
        </form>
    </ion-content>
</ion-view>