<ion-view title="Encuentros">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item ng-repeat="en in encuentros" ng-show="en.torneo === torneoActivo.nombre" class="item item-input-inset">

                <label class="item-input-wrapper">
                    <input type="tel" ng-change="actualizarTabla(en)" ng-model="en.jugador.goles">
                </label>
                <p>
                    {{en.equipo1.jugador.equipo.nombre}} ({{en.equipo1.jugador.nombre}})
                    <strong>VS</strong> 
                    {{en.equipo2.jugador.equipo.nombre}} ({{en.equipo2.jugador.nombre}})
                </p>
                <label class="item-input-wrapper">
                    <input type="tel" ng-model="en.equipo2.goles" ng-change="actualizarTabla(en)">
                </label>                
                

            </ion-item>
        </ion-list>
        {{torneoActivo.nombre}}

    </ion-content>
</ion-view>