<ion-view title="Equipos">
    <ion-content padding="'true'" class="has-header">
        <a href="#/page23/page30" class="button button-positive button-block ">Agregar Equipo</a>
        <ion-list>
            <ion-item ng-repeat="equipo in equipos" class="item-thumbnail-left">
                <img>
                <h2>{{equipo.nombre}}</h2>
                <p>{{equipo.tipo}}</p>
                <p>{{equipo.nivel}}</p>                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>