<div class="form-error" ng-message="required">Campo requerido.</div>
<div class="form-error" ng-message="minlength">Minimo 3 caracteres.</div>
<div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>