<ion-view title="Historial Torneos">
    <ion-content padding="'true'" class="has-header">
        <div class="list card" ng-repeat="torneo in torneos">
            <div class="item item-divider">{{torneo.nombre}}</div>
            <div class="item item-body">
                <div>
                    <p>Nivel
                        <strong>{{torneo.nivel}}</strong>
                    </p>
                    <p>Tipo
                        <strong>{{torneo.tipo}}</strong>
                    </p>
                    <p>Partidos
                        <strong>{{torneo.partidos}}</strong>
                    </p>
                </div>
                <a href="#/page23/page28" ng-click="activaTorneo(torneo)" ng-show="torneo.estado === 'I'" class="button button-stable button-block  icon-left ion-checkmark-round">Activar</a>
            </div>
        </div>

    </ion-content>
</ion-view>