<ion-view title="Jugadores">
    <ion-content padding="'true'" class="has-header">
        <form class="list"></form>
        <a href="#/page23/page33" class="button button-positive button-block  icon-left ion-ios-personadd">Agregar Jugador</a>
        <ion-list></ion-list>
        <ion-list>
            <ion-item ng-repeat="jugador in jugadores" class="item-thumbnail-left">
                <img>
                <h2>{{jugador.nombre}}</h2>
                <p>{{jugador.alias}}</p>
            </ion-item>            
        </ion-list>
    </ion-content>
</ion-view>