<ion-view title="Seleccionar Jugadores">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-checkbox ng-model="jugador.select" ng-repeat="jugador in jugadores">{{jugador.nombre}} ({{jugador.alias}})</ion-checkbox>            
        </form>
    </ion-content>
</ion-view>