<ion-view title="tabla">
    <ion-content padding="'true'" class="has-header"></ion-content>
    
    
  <ion-list>
  <ion-item class="item" ng-repeat="equipo in tabla" >
    {{equipo.$id}}
    <span class="item-note">| <strong>{{equipo.P}}</strong> || </span>
    <span class="item-note">| {{equipo.GD}} | </span>    
    <span class="item-note">| {{equipo.GC}} | </span>
    <span class="item-note">|| {{equipo.GF}} | </span>
    
    
  </ion-item>
  </ion-list>
  

    
</ion-view>