<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Torneos" icon="ion-playstation" href="#/page23/page24">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Jugadores" icon="ion-person" href="#/page23/page26">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Encuentros" icon="ion-ios-football" href="#/page23/page29">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Tabla" icon="ion-podium" href="#/page23/page28">
            <ion-nav-view name="tab13"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>