<ion-view title="Torneos FIFA V1">
    <ion-content padding="'true'" class="has-header">
        
            <h2 class="title">{{torneoActivo.nombre}}</h2>
        
        <div class="list card">
            <div class="item item-body">
                <img src="img/SbVePa10TVOUMBvbgRCr_unnamed.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
                <a href="#/page23/page27" class="button button-positive button-block  icon-left ion-playstation button-full">Crear Torneo</a>
                <a href="#/page23/page25" class="button button-positive button-block  icon-left ion-tshirt">Equipos</a>
                <a href="#/page23/page34" class="button button-positive button-block  icon-left ion-android-list">Historial Torneos</a>
            </div>
        </div>
    </ion-content>
</ion-view>